* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(45, 2, 43), rgb(3, 35, 3));
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: green;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px ;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #eb230d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover{
    background-color: #7d170a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 20px 50px; 
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    top: 50%; 
    left: 10px; 
    transform: translateY(-50%); 
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('https://images.unsplash.com/photo-1736191550786-46a46aa47394?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url('https://images.unsplash.com/photo-1736191550786-46a46aa47394?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
    
}

.delete-btn {
    background-color: #680202;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.delete-btn:hover {
    background-color: #fb0808;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
